body{
  background-color: #d2f6c5;
}
img
{
  /*margin-left: auto;
  margin-right: auto;*/

  border-radius: 10%;
  height: 400px;
  /*top: 20px;*/
  width: 500px;
  position: relative;
  left: 400px;
}
hr{
  background-color: #d2f6c5;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%;
  height: 2px;
}

/*h1{
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  font-size:80px;
}*/

h2{

  text-align: center;
}

h2:hover{
  background-color:#dd9866;
}
h3{
  color: #af6b58;
}
.State_image{
  border-radius: 10%;
  height: 400px;
  top: 20px;
  width: 500px;;
  position: relative;
  margin-bottom: 30px;
  left: 400px;
  padding-bottom: 5;
}
.District_image
{
  float: left;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  position: relative;
  left: 1px;
}
.District_Data
{
  margin: 15px 50px;
}
.rectangle
{
  color: black;
}

#heading{
  text-align: center;
  font-family: 'Sansita Swashed ', cursive;
  font-size:70px;
  font-weight: bold;

}
.center{
  text-align: center;
}
#left{
  text-align: left;
  margin-left: 10px;
}
.left{
  margin-left: 10px;
}
#top{
  background-color: #dd9866;
  padding-bottom: 3;
  margin-bottom: 8;
}
.icon{
  height: 45px;
  width: 45px;
  float: left;

  position: relative;
  left: 10px;

}
.col-lg-3{
  margin-left: 70px;
}

.l_e_f_t{
  margin-left: 10px;
}
